In [ ]:
import json

In [ ]:
fd = open("record.json",'r')
txt = fd.read()
fd.close()

In [ ]:
records = json.loads(txt)
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 99},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 97},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 9},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10}}

In [98]:
p  = str(input("Enter the product_Id: "))
q = int(input("Enter the quantity: "))

Enter the product_Id: 1006
Enter the quantity: 1

**Purchasing the Product**

In [99]:
print("Product: ", records[p]['name'])
print("Price: ", records[p]['pr'])
print("Billing Amount: ", records[p]['pr'] * q)

records[p]['qn'] = records[p]['qn'] - q

Product:  Phone
Price:  50000
Billing Amount:  50000

**Update list**

In [100]:
j = json.dumps(records)

fd = open("record.json",'w')
fd.write(j)
fd.close()

In [101]:
j

'{"1001": {"name": "Choco Cake", "qn": 34, "pr": 100}, "1002": {"name": "Milk Cake", "pr": 800, "qn": 98}, "1003": {"name": "Drink", "pr": 85, "qn": 97}, "1004": {"name": "Candy", "pr": 5, "qn": 1000}, "1005": {"name": "Pen", "pr": 20, "qn": 100}, "1006": {"name": "Phone", "pr": 50000, "qn": 8}, "1007": {"name": "Mic", "pr": 1500, "qn": 0}, "1008": {"name": "Case", "pr": 599, "qn": 5}, "1009": {"name": "Keyboard", "pr": 1999, "qn": 10}}'

**Sales**

In [105]:
sales = {1 : {'prod' : p, 'qn' : q, 'amount': records[p]['pr'] * q},2:{'prod' : p, 'qn' : q, 'amount': records[p]['pr'] * q},3:{'prod' : p, 'qn' : q, 'amount': records[p]['pr'] * q}}

In [117]:
sale = json.dumps(sales)

In [122]:
fd = open("sales.json",'w')
fd.write(sale)
fd.close()

In [127]:
sales[(len(sales)+1)]={'prod' : p, 'qn' : q, 'amount': records[p]['pr'] * q}
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 98},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 97},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 8},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10}}